[submodule "tools/FileIO"]
	path = tools/FileIO
	url = https://github.com/GiannisNikiteas/FileIO.git
[submodule "tools/tinyxml2"]
	path = tools/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "tools/MD-Simulation-Data-Analysis"]
	path = tools/MD-Simulation-Data-Analysis
	url = https://github.com/GiannisNikiteas/MD-Simulation-Data-Analysis.git
